*.gem
*.rbc
*.un~
*.tfvars
*.tfstate.backup
*.out

.bundle
.config
.DS_Store
.rspec
.vagrant/
.yardoc

_yardoc
coverage
config/application.yml
db/*.sqlite3
db/*.sqlite3-journal
doc/
lib/bundler/man
log/*.log
node_modules
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
